<div class="container main-container">
    <h1 id="text3d" class="animate__animated animate__bounceInDown">401</h1>
    <img id="stop-sign"  class="animate__animated animate__rotateIn" src="assets/stop_sign.png" alt="">
    <P id="info" class="text-danger animate__animated animate__slideInRight">It seems you are not authorized to view 
        the content of this page. The Possible reason can be you do not have the rights to view this page. 
        If you think that there might be some mistakes regarding the permission and you are supposed to be authorized 
        for accessing this page then please reach out to us through the Contact Us portal.
    </P>
</div>