<div class="container faculty-explore-container" >
    <div class="row">
        <div class="col-md-3 order-md-1 context-menu">
            <div class="context-menu position-fixed">
                <p># CONTENTS</p>
                <ul>
                    <li (click)="scrollTo('introduction')">Introduction</li>
                    <li (click)="scrollTo('upload-material')">Upload Materials/Question Paper</li>
                    <li (click)="scrollTo('schedule-test')">Schedule Test</li>
                    <li (click)="scrollTo('record-marks')">Record Student Marks</li>
                    <li (click)="scrollTo('refer-student')">Refer Student</li>
                    <li (click)="scrollTo('refer-faculty')">Refer Faculty</li>
                </ul>
            </div>

        </div>


        <div class="col-md-9 order-md-0 col-md-9 main-menu-container border-right">

            <div class="col-12 mb-5" id="introduction">
                <h1 class="faculty-chapter-header">Introduction</h1>
                <div style="font-size: 14px; line-height: 24px;">
                    <p>
                        Welcome to MakeUrMark Faculty Explore! Here you can do required task using below portal.
                        You can use the context menu to skip to the specific location. You can do the below mentioned
                        task in this portal.
                    </p>
                    <ul>
                        <li>Upload Materials/Question Paper</li>
                        <li>Schedule Test</li>
                        <li>Record Student Marks</li>
                        <li>Refer Student</li>
                        <li>Refer Faculty</li>
                    </ul>
                    <small>* For something else, please contact admin or use Contact Us portal.</small>
                </div>
            </div>

            <hr>

<!---------------------------------------------Upload Material------------------------------------------------->

            <div class="col-12 my-5" id="upload-material">
                <h2 class="faculty-chapter-header">Upload Material/Question Paper</h2>
                <p-toast position="center" key="uploadMaterial"></p-toast>
                <form #uploadMaterialForm="ngForm" ngNativeValidate>
                    <div class="row">
                        <div class="col-6 my-4 each-form-field">
                            <mat-label class="my-2 mr-3"><strong>*Select Grade</strong></mat-label>
                            <p-dropdown autoWidth="false" [style]="{'width':'100%','z-index':'5'}" required
                                [options]="allGrades" name="grade" [(ngModel)]="uploadMaterial.grade"
                                placeholder="Select Grade" [showClear]="true" optionLabel="label">
                            </p-dropdown>
                        </div>
                        <div class="col-6 my-4 each-form-field">
                            <mat-label class="my-2 mr-3"><strong>*Select Subject</strong></mat-label>
                            <p-dropdown autoWidth="false" [style]="{'width':'100%','z-index':'5'}" required
                                [options]="allSubjects" name="subject" [(ngModel)]="uploadMaterial.subject" 
                                placeholder="Select Subject" [showClear]="true" optionLabel="label"> 
                            </p-dropdown>
                        </div>
                        <div class="col-12 my-4 each-form-field">
                            <mat-label class="my-2 mr-3"><strong>*Chapters/Topics</strong></mat-label>
                            <textarea required pInputTextarea name="chapters"
                                [(ngModel)]="uploadMaterial.chapters"></textarea>
                        </div>
                        <div class="col-12 my-4">
                            <mat-label class="my-2 mr-3"><strong>*Select Material Type</strong></mat-label>
                            <mat-radio-group aria-label="Select an option" required name="materialType" required
                                [(ngModel)]="uploadMaterial.materialType">
                                <mat-radio-button class="mt-3 col-12 mr-4" value="study">Study Material
                                </mat-radio-button>
                                <mat-radio-button class="mt-2 col-12 mr-4" value="question">Question Paper
                                </mat-radio-button>
                                <mat-radio-button class="mt-2 col-12 mr-4" value="others">Others</mat-radio-button>
                            </mat-radio-group>
                        </div>
                        <div class="col-12 my-4">
                            <mat-label class="my-2 mr-3"><strong>*Upload Material</strong></mat-label>
                            <input style="display:none" type="file" #materialFile name="selectedMaterial"
                                (change)="onMaterileSelected($event)">
                            <button class="col-4 col-xl-2 btn btn-success shadow border" (click)="materialFile.click()">
                                <i style="font-weight:700;" class="fa fa-upload "> Select File</i>
                            </button>
                            <p class="col-12 my-1 selected-file pl-0">
                                Selected File: {{selectedMaterial? selectedMaterial.name: 'none'}}
                            </p>
                        </div>
                        
                        <div class="col-12 mt-4">
                            <button class="mx-auto col-4 col-md-2 btn btn-success"
                                (click)="onMaterialSubmit(uploadMaterialForm)"
                                [disabled]="uploadMaterialForm.invalid || !selectedMaterial">Submit</button>
                        </div>
                        <div class="col-12 mt-3">
                            <div *ngIf="allMaterial?.materialList.length<1">
                                <p class="text-danger">
                                    No material uploaded by you is found
                                </p>
                            </div>
                            <div class="mt-3" *ngIf="allMaterial?.materialList.length>=1">
                                <p-table #materialtable [value]="allMaterial?.materialList" [scrollable]="true"  scrollHeight="200px"
                                [columns]="uploadMaterial.materialViewTable.moveableCols"
                                [globalFilterFields]="['grade','subject','chapters','filename']">
                                    <ng-template pTemplate="caption">
                                        <div class="table-caption row">
                                            <div class="table-caption-text col-md-6" style="text-align: left; font-size: 16px;">
                                               ALL UPLOADED MATERIALS BY YOU
                                            </div>
                                            <div class="table-caption-search col-md-6" style="text-align: right;">
                                                <span class="p-input-icon-left" style="text-align: right">
                                                    <input pInputText type="text"
                                                        (input)="marksTable.filterGlobal($event.target.value, 'contains')"
                                                        placeholder="Global Search" />
                                                </span>
                                            </div>
                                        </div>
                                    </ng-template>
                                    <ng-template pTemplate="colgroup" let-columns>
                                        <colgroup>
                                            <col *ngFor="let col of columns" [style.width.px]="col.width">
                                        </colgroup>
                                    </ng-template>
                                    <ng-template pTemplate="header" let-columns>
                                        <tr>
                                            <th *ngFor="let col of columns">
                                                {{col.header}}
                                            </th>
                                           </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-material let-columns="columns">
                                        <tr>
                                            <td *ngFor="let col of columns">
                                                <div *ngIf="col.field == 'del'">
                                                    <i class="fa fa-window-close" (click)="deleteMaterial(material)"></i>
                                                </div>
                                                <div *ngIf="col.field !== 'del'">
                                                    {{ col.pipeChk == 'date'? (material[col.field] | date: 'short') : 
                                                   col.pipeChk == 'title'? (material[col.field] | titlecase) : material[col.field] }}
                                                </div>
                                            </td>
                                        </tr>
                                    </ng-template>
                                </p-table>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <hr>

<!---------------------------------------------Schedule Test------------------------------------------------->

            <div class="col-12 my-5" id="schedule-test">
                <h2 class="faculty-chapter-header">Schedule Test</h2>
                <p-confirmDialog key="deleteTestConfirm" header="Delete Test" icon="pi pi-exclamation-triangle"></p-confirmDialog>
                <p-toast position="center" key="scheduleTest"></p-toast>
                <p-toast position="center" key="deleteTest"></p-toast>
                <form #scheduleTestForm="ngForm" ngNativeValidate>
                    <div class="row">
                        <div class="col-6 my-4 each-form-field">
                            <mat-label class="my-2 mr-3"><strong>*Select Grade</strong></mat-label>
                            <p-dropdown autoWidth="false" [style]="{'width':'100%','z-index':'5'}" required
                                [options]="allGrades" name="grade" [(ngModel)]="scheduleTest.grade"
                                placeholder="Select Grade" [showClear]="true" optionLabel="label">
                            </p-dropdown>
                        </div>
                        <div class="col-6 my-4 each-form-field">
                            <mat-label class="my-2 mr-3"><strong>*Select Subject</strong></mat-label>
                            <p-dropdown autoWidth="false" [style]="{'width':'100%', 'z-index':'5'}" required 
                            [options]="allSubjects" name="subject" [(ngModel)]="scheduleTest.subject" 
                            placeholder="Select Subject" [showClear]="true" optionLabel="label">
                            </p-dropdown>
                        </div>
                        <div class="col-12 my-4 each-form-field">
                            <mat-label class="my-2 px-0 mr-3"><strong>*Test Syllabus</strong></mat-label>
                            <textarea required pInputTextarea name="syllabus"
                                [(ngModel)]="scheduleTest.syllabus"></textarea>
                        </div>

                        <div class="col-6 my-4 each-form-field">
                            <mat-label class="my-2 px-0 mr-3"><strong>*Test Date & Time</strong></mat-label>
                            <p-calendar required [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}"
                                [(ngModel)]="scheduleTest.testDateTime" name="testDateTime" [showTime]="true"
                                [minDate]="minimumDate" inputId="time"></p-calendar>
                        </div>

                        <div class="col-6 my-4 each-form-field">
                            <mat-label class="my-2 px-0 mr-3"><strong>*Duration</strong></mat-label>
                            <input numberOnly required style="width:100%" type="text" placeholder="in min (ex: 90)" pInputText
                                name="duration" [(ngModel)]="scheduleTest.duration" />
                        </div>

                        <div class="col-6 my-4 each-form-field">
                            <mat-label class="my-2 px-0 mr-3"><strong>*Full Marks</strong></mat-label>
                            <input numberOnly required style="width:100%" type="text" name="fullMarks" pInputText
                                [(ngModel)]="scheduleTest.fullMarks" />
                        </div>
                        
                        <div class="col-12 mt-4">
                            <button class="mx-auto col-4 col-md-2 btn btn-success"
                                (click)="onScheduleTestSubmit(scheduleTestForm)"
                                [disabled]="scheduleTestForm.invalid">Submit</button>
                        </div>

                        <div class="col-12 mt-3">
                            <div *ngIf="allTests?.testsList.length<1">
                                <p class="text-danger">
                                    No upcoming test scheduled by you is found
                                </p>
                            </div>
                            <div class="mt-3" *ngIf="allTests?.testsList.length>=1">
                                <p-table #testScheduledTable [value]="allTests?.testsList" [scrollable]="true"  scrollHeight="200px"
                                [columns]="scheduleTest.testViewTable.moveableCols">
                                    <ng-template pTemplate="caption">
                                        <div class="table-caption row">
                                            <div class="table-caption-text col-md-7" style="text-align: left; font-size: 16px;">
                                                ALL UPCOMING SCHEDULED TEST BY YOU
                                            </div>
                                        </div>
                                    </ng-template>
                                    <ng-template pTemplate="colgroup" let-columns>
                                        <colgroup>
                                            <col *ngFor="let col of columns" [style.width.px]="col.width">
                                        </colgroup>
                                    </ng-template>
                                    <ng-template pTemplate="header" let-columns>
                                        <tr>
                                            <th *ngFor="let col of columns">
                                                {{col.header}}
                                            </th>
                                           </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-test let-columns="columns">
                                        <tr>
                                            <td *ngFor="let col of columns">
                                                <div *ngIf="col.field == 'del'">
                                                    <i class="fa fa-window-close" (click)="deleteTest(test)"></i>
                                                </div>
                                                <div *ngIf="col.field !== 'del'">
                                                  {{ col.pipeChk == 'date'? (test[col.field] | date: 'short') : 
                                                   col.pipeChk == 'title'? (test[col.field] | titlecase) : test[col.field] }}
                                                </div>
                                            </td>
                                        </tr>
                                    </ng-template>
                                </p-table>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <hr>

<!------------------------------------------Record Students' Marks---------------------------------------------->

            <div class="col-12 my-5" id="record-marks">
                <h2 class="faculty-chapter-header">Record Students' Marks</h2>
                <p-toast position="center" key="recordMarks"></p-toast>
                <form #recordMarksForm="ngForm" ngNativeValidate>

                    <div class="row">
                        <div class="col-6 my-4 each-form-field">
                            <mat-label class="my-2 mr-3"><strong>Select Grade</strong></mat-label>
                            <p-dropdown autoWidth="false" [style]="{'width':'100%','z-index':'5'}" name="selectGrade"
                                [options]="allGrades" [(ngModel)]="recordMarks.grade" placeholder="Select Grade" 
                                [showClear]="true" (onChange)="getTestIdList()" optionLabel="label">
                            </p-dropdown>
                        </div>
                        <div class="col-6 my-4 each-form-field">
                            <mat-label class="my-2 mr-3"><strong>Select Subject</strong></mat-label>
                            <p-dropdown autoWidth="false" [style]="{'width':'100%','z-index':'6'}" #subject
                                [options]="allSubjects" name="subject" [(ngModel)]="recordMarks.subject" 
                                placeholder="Select Subject" [showClear]="true" (onChange)="getTestIdList()"
                                optionLabel="label">
                            </p-dropdown>
                        </div>

                        <div class="col-6 my-4 each-form-field">
                            <mat-label class="my-2 px-0 mr-3"><strong>Test Date</strong></mat-label>
                            <p-calendar [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}"
                                [(ngModel)]="recordMarks.testDate" name="testDate" (onSelect)="getTestIdList()">
                            </p-calendar>
                        </div>

                        <div class="col-6 my-4 each-form-field">
                            <mat-label class="my-2 mr-3"><strong>Select Test Id</strong></mat-label>
                            <p-dropdown autoWidth="false" [style]="{'width':'100%','z-index':'5'}"
                                [options]="testSearchedObj?.details" name="selectTestIdDrop"
                                [disabled]="!recordMarks.subject || !recordMarks.testDate"
                                [(ngModel)]="recordMarks.testId" placeholder="Select Test Id" [showClear]="true">
                            </p-dropdown>
                        </div>

                        <div class="col-12" style="text-align: center;">
                            <h4 class="faculty-chapter-header">Or</h4>
                        </div>

                        <div class="col-6 my-4 each-form-field">
                            <mat-label class="my-2 mr-3"><strong>Type Test Id</strong></mat-label>
                            <input type="text" pInputText [(ngModel)]="recordMarks.testId" name="selectTestIdDirect" />
                        </div>

                       <div class="col-12 mt-4">
                            <button class="mx-auto col-4 col-md-2 btn btn-success"
                                (click)="searchStudents(recordMarks.testId)"
                                [disabled]="!recordMarks.testId">Search</button>
                        </div>
                    </div>
                </form>
                <div class="student-marks-table mt-5" *ngIf="enrolledStudentList">
                    <div *ngIf="enrolledStudentList.obtainedMarks.length<1">
                        <p class="text-danger">
                            No student was enrolled for this test
                        </p>
                    </div>
                    <div *ngIf="enrolledStudentList.obtainedMarks.length>0">
                        <strong style="font-size:larger; word-spacing: 3px;">TestId: {{enrolledStudentList.testId}}, Grade {{enrolledStudentList.grade}}, 
                            {{enrolledStudentList.subject | titlecase}}, 
                            {{enrolledStudentList.testDateTime | date:'short'}}</strong>
                        <p-table #marksTable [value]="enrolledStudentList?.obtainedMarks" [paginator]="true" [rows]="5"
                            [showCurrentPageReport]="true" [globalFilterFields]="['userName','name','marks']">
                            <ng-template pTemplate="caption">
                                <div class="table-caption row">
                                    <div class="table-caption-text col-md-6" style="text-align: left; font-size: 16px;">
                                        UPDATE STUDENTS' MARKS HERE
                                    </div>
                                    <div class="table-caption-search col-md-6" style="text-align: right;">
                                        <span class="p-input-icon-left" style="text-align: right">
                                            <input pInputText type="text"
                                                (input)="marksTable.filterGlobal($event.target.value, 'contains')"
                                                placeholder="Global Search" />
                                        </span>
                                    </div>
                                </div>
                            </ng-template>
                            <ng-template pTemplate="header">
                                <tr>
                                    <th pSortableColumn="userName">User Name/Email<p-sortIcon field="userName">
                                        </p-sortIcon>
                                    </th>
                                    <th pSortableColumn="name">Full Name<p-sortIcon field="name"></p-sortIcon>
                                    </th>
                                    <th pSortableColumn="marks">Marks Obtained<p-sortIcon field="marks"></p-sortIcon>
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-student>
                                <tr>
                                    <td>{{student.userName | titlecase}}</td>
                                    <td>{{student.fullName | titlecase}}</td>
                                    <td pEditableColumn>
                                        <p-cellEditor>
                                            <ng-template pTemplate="input">
                                                <input pInputText type="text" name="marks" [(ngModel)]="student.marks" 
                                                numberOnly numberType="float">
                                            </ng-template>
                                            <ng-template pTemplate="output">
                                                {{student.marks}}
                                            </ng-template>
                                        </p-cellEditor>
                                    </td>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="summary">
                                <div class="row">
                                    <div class="table-caption-text col-md-6" style="text-align: left; font-size: 16px;">
                                        Full Marks: {{enrolledStudentList.fullMarks}}
                                    </div>
                                    <div class="table-caption-search col-md-6" style="text-align: right;">
                                        <button class="btn btn-primary" (click)=updateStudentMarks()>Submit</button>
                                    </div>
                                </div>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
            </div>

            <hr>

<!------------------------------------------Refer a Student---------------------------------------------->

            <div class="col-12 my-5" id="refer-student">
                <h2 class="faculty-chapter-header">Refer a Student</h2>
                <p-toast position="center" key="referStudent"></p-toast>
                <form #referStudentForm="ngForm" ngNativeValidate>
                    <div class="row">
                        <div class="col-6 my-4 each-form-field">
                            <mat-label class="my-2 mr-3"><strong>*First Name</strong></mat-label>
                            <input style="width:100%" type="text" pInputText name="firstName"
                            placeholder="Student's first name" [(ngModel)]="refStudent.firstName" required />
                        </div>
                        <div class="col-6 my-4 each-form-field">
                            <mat-label class="my-2 mr-3"><strong>*Last Name</strong></mat-label>
                            <input style="width:100%" type="text" pInputText name="lastName"
                            placeholder="Student's last name" [(ngModel)]="refStudent.lastName" required />
                        </div>
                        <div class="col-6 my-4 each-form-field">
                            <mat-label class="my-2 mr-3"><strong>*Contact Number</strong></mat-label>
                            <input style="width:100%" type="text" pInputText name="contactNumber"
                            placeholder="Student's contcat number" [(ngModel)]="refStudent.contactNumber" required />
                        </div>
                        <div class="col-6 my-4 each-form-field">
                            <mat-label class="my-2 mr-3"><strong>*Email Id</strong></mat-label>
                            <input style="width:100%" type="text" pInputText name="emailId"
                              placeholder="Student's email id" [(ngModel)]="refStudent.emailId" required />
                        </div>
                        <div class="col-12 my-4 each-form-field">
                            <mat-label class="my-2 px-0 mr-3"><strong>*Currently Studying at</strong></mat-label>
                            <input style="width:100%" type="text" pInputText name="currentlyStudying"
                            placeholder="Grade,Institution" [(ngModel)]="refStudent.currentlyStudying" required />
                        </div>
                        <div class="col-12 mt-4">
                            <button class="mx-auto col-4 col-md-2 btn btn-success"
                                (click)="onReferenceSubmit(referStudentForm,'student','referStudent')"
                                [disabled]="referStudentForm.invalid">Submit</button>
                        </div>
                    </div>
                </form>
            </div>

            <hr>

<!------------------------------------------Refer a Faculty---------------------------------------------->

            <div class="col-12 my-5" id="refer-faculty">
                <h2 class="faculty-chapter-header">Refer a Faculty</h2>
                <p-toast position="center" key="referFaculty"></p-toast>
                <form #referFacultyForm="ngForm" ngNativeValidate>
                    <div class="row">
                        <div class="col-6 my-4 each-form-field">
                            <mat-label class="my-2 mr-3"><strong>*First Name</strong></mat-label>
                            <input style="width:100%" type="text" pInputText name="firstName"
                            placeholder="Faculty's first name number" [(ngModel)]="refFaculty.firstName" required />
                        </div>
                        <div class="col-6 my-4 each-form-field">
                            <mat-label class="my-2 mr-3"><strong>*Last Name</strong></mat-label>
                            <input style="width:100%" type="text" pInputText name="lastName"
                            placeholder="Faculty's last name number" [(ngModel)]="refFaculty.lastName" required />
                        </div>
                        <div class="col-6 my-4 each-form-field">
                            <mat-label class="my-2 mr-3"><strong>*Contact Number</strong></mat-label>
                            <input style="width:100%" type="text" pInputText name="contactNumber"
                            placeholder="Faculty's contcat number" [(ngModel)]="refFaculty.contactNumber" required />
                        </div>
                        <div class="col-6 my-4 each-form-field">
                            <mat-label class="my-2 mr-3"><strong>*Email Id</strong></mat-label>
                            <input style="width:100%" type="text" pInputText name="emailId"
                            placeholder="Faculty's email id" [(ngModel)]="refFaculty.emailId" required />
                        </div>
                        <div class="col-12 my-4 each-form-field">
                            <mat-label class="my-2 px-0 mr-3"><strong>*Subjects (comma separated)</strong></mat-label>
                            <input style="width:100%" type="text" pInputText name="subjectsForFaculty"
                            placeholder="Subjects that the person wants to teach" [(ngModel)]="refFaculty.subjectsForFaculty" required />
                        </div>
                        <div class="col-12 mt-4">
                            <button class="mx-auto col-4 col-md-2 btn btn-success"
                                (click)="onReferenceSubmit(referFacultyForm,'faculty','referFaculty')"
                                [disabled]="referFacultyForm.invalid">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
            <hr>
        </div>
    </div>
</div>