.faculty-explore-container {
    position: relative;
    top:150px;
}


.faculty-chapter-header {
    color: #063247
}

hr {
    border: #063247 solid 2px;
}

.each-form-field {
    display: grid;
}

.context-menu ul {
    list-style: circle;
    color: royalblue;
    line-height: 30px;
}

.context-menu ul>li:hover {
    cursor: pointer;
    text-decoration: underline;
}

.test-table{
    font-size: 14px
}

.fa-window-close {
    color: red;
    font-size: 17px;
    cursor: pointer;
}

.materialTable {
    width: 100%
}

:host ::ng-deep .ui-table .ui-table-tbody > tr > td {
    font-size: 12px;
    overflow: hidden;
}

@media only screen and (max-width: 700px){
    .context-menu {
        position: relative !important;
    }
    .table-caption-text{
        text-align: center !important;
    }
     .table-caption-search {
        text-align: center !important;
    }
    .test-table{
        font-size: 11px
    }
    .materialTable {
        width: 600px
    }
}
