<div class="container-fluid student-roster-container">
    <div *ngIf="batchList.length==0">
        <p class="text-danger">You have not been allocated yet.</p>
    </div>
    <app-full-calender [calendarOptions]="batchCalendarOptions" [eventList]="batchList">
    </app-full-calender>
</div>

<p-dialog header="UNALLOCATED COURSES" [(visible)]="displayUnallocatedList"
    [style]="{width: '60vw'}" [baseZIndex]="10000" [modal]="true">
    <div class="my-3 text-success">
        <strong>Thanks for Choosing us, Our team will reach you soon for your convenient batch timing</strong>
    </div>
    <table class="table unallocated-list-table table-sm" *ngIf="unallocatedList?.length>0">
        <tr>
            <th>PURCHASE DATE</th>
            <th>GRADE</th>
            <th>SUBJECT</th>
            <th>BATCH TYPE</th>
            <th>DURATION(In Days)</th>
        </tr>
        <tr *ngFor="let item of unallocatedList">
            <td>{{item.admissionDate| date:'short'}}</td>
            <td>{{item.grade}}</td>
            <td>{{item.subject}}</td>
            <td>{{item.batchType}}</td>
            <td>{{item.duration}}</td>
        </tr>
    </table>
</p-dialog>

<p-dialog header="BATCH DETAILS" [(visible)]="displaybatchDetails" [style]="{width: '40vw'}" 
[baseZIndex]="10000" [modal]="true">

    <div class="row" *ngIf="clickedBatch">
        <div class="col-md-8">
            <p class="diag-p-name">
                <strong>
                    <span class="">Subject:  </span>
                    <span class="info" style="font-style: italic;">
                    {{clickedBatch.subject | uppercase}}({{clickedBatch.grade| uppercase}})
                </span>
                </strong>
            </p>
        </div>
        <table class="table mt-2 mx-3" style="font-size:13px">
        <tbody>
            <tr>
                <td>Batch Type</td>
                <td><strong>{{clickedBatch.batchType| uppercase}}</strong></td>
            </tr>
            <tr>
                <td>Max Student Strength</td>
                <td><strong>{{clickedBatch.maxStudent}}</strong></td>
            </tr>
            <tr>
                <td>Expires on</td>
                <td [ngClass]="!clickedBatch.nearExp?'text-success':'text-danger'" style="font-size: 16px;">
                    <strong>{{clickedBatch.endDate| date:'short'}}</strong>
                </td>
            </tr>
        </tbody>
        </table>
    </div>
</p-dialog>