<!-- <div class="timetable">
    <div class="week-names">
      <div>monday</div>
      <div>tuesday</div>
      <div>wednesday</div>
      <div>thursday</div>
      <div>friday</div>
      <div class="weekend">saturday</div>
      <div class="weekend">sunday</div>
    </div>
    <div class="time-interval">
      <div *ngFor="let slot of timeSlots">{{slot.slotTime}}</div>
    </div>
    <div class="content">
      <div>
        <div class="accent-orange-gradient"></div>
      </div>
      <div></div>
      <div></div>
      <div></div>
          <div>
        <div class="accent-green-gradient"></div>
      </div>
      <div class="weekend"></div>
      <div class="weekend"></div>
      <div></div>
      <div></div>
      <div></div>
      <div>
        <div class="accent-cyan-gradient"></div>
      </div>
      <div></div>
      <div class="weekend"></div>
      <div class="weekend"></div>
      <div>
        <div class="accent-pink-gradient"></div>
      </div>
      <div></div>
      <div>
        <div class="accent-purple-gradient"></div>
      </div>
      <div></div>
      <div></div>
      <div class="weekend"></div>
      <div class="weekend"></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div class="weekend"></div>
      <div class="weekend"></div>
      <div>
        <div class="accent-purple-gradient">fggg</div>
      </div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div class="weekend"></div>
      <div class="weekend"></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div class="weekend"></div>
      <div class="weekend"></div>
    </div>
  </div> -->

  <app-full-calender [calendarOptions]="calendarOptions" [eventList]="testList"
  [eventClick]='testEventClick'></app-full-calender>