/* You can add global styles to this file, and also import other style files */

.cdk-overlay-container, .cdk-overlay-pane {
    z-index: 11001 !important;
}

.chapter-header {
    font-size: 38px;
    font-weight: 700;
    padding: 10px 0px;
}

.chapter-header::before {
    position: absolute;
    left: 50%;
    content: "";
    width: 100px;
    height: 2px;
    background: #666;
    bottom: -1px;
    margin-left: -50px;
}

.chapter-header::after {
    position: absolute;
    left: 50%;
    content: "";
    width: 100px;
    height: 2px;
    background: #666;
    bottom: -6px;
    margin-left: -63px;
}

html, body { height: 100%; overflow: auto;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; font-size: 14px;}
