<div class="card-container">
    <div class="card shadow">
      <div class="front">
        <h1 class="title">
          {{facultyDet.name}}
        </h1>
        <h2 class="sub-title">B.Tech, Electronics (IIT Madras)</h2>
        <img class="image" src="../../../assets/faculties/faculty_{{facultyDet.id}}_noBg.png" alt="" />
      </div>
      <div class="back">
        <h2 class="synopsis">{{facultyDet.name}}</h2>
        <hr>
        <p>Education: <span class="info">B.Tech, Electronics (IIT Madras)</span></p>
        <p>Subject: <span class="info">{{facultyDet.subject}}</span></p>
        <p>Grade: <span class="info">{{facultyDet.grade}}</span></p>
        <p>Tutorial Language: <span class="info">English</span></p>

        <div class="btn">View All</div><!-- 
        <div class="btn secondary"><i class="fa fa-heart "></i>Add to list</div> -->
      </div>
    </div>

