.student-registration{
    background-color: white;
    z-index: 20;
    padding: 0px 15px 10px 15px;
}

/* .form-container {
    background-color: white;
    border: #063247 solid 1px;
    box-sizing: border-box;
} */

.fa-bookmark {
    position: absolute;
    top: -13px;
    color: #063247;
    right: 22px;
    font-size: 64px;
}

.page-number {
    font-size: 24px;
    color: white;
    position: absolute;
    top: -4px;
    right: 30px;
}

a {
    cursor: pointer;
    color: #0277bd
}

#otp-mail, #otp-mob {
    display: block;
	margin: 0.5em auto;
	border: none;
	padding: 0;
	width: 9ch;
	background: repeating-linear-gradient(90deg, 
		dimgrey 0, dimgrey 1ch, 
		transparent 0, transparent 1.5ch) 
		0 100%/8.5ch 2px no-repeat;
	font: 5ch droid sans mono, consolas, monospace;
	letter-spacing: 0.5ch;
}

#otp-mail:focus, #otp-mob:focus {
    outline: none;
	color: dodgerblue;
}