.full-calendar-container {
    width: 100%;
}

.fc{
    height: 450px;
}


:host ::ng-deep .fc .fc-toolbar.fc-header-toolbar {
    margin: 0.5em
}

@media only screen and (max-width: 700px) {
    .full-calendar-container {
        font-size: 12px;
    }
    .fc {
        height: 450px
    }
}
