nav{
    font-family: dosis;
  background: #063247;
  box-shadow: 0 3px 15px rgba(0,0,0,.4);
  z-index: 1;
  opacity: 1;
  position: sticky;
  top: 0px;
}
nav ul{
  padding: 0;
  list-style: none;
  float: right;
  
}

.nav-dropdown1 li{
  padding: 23px 10px;
  display: inline-block;
}
.nav-dropdown2 li, .nav-dropdown3 li{
    padding: 0px 0px;
}

nav ul li a{
  color: white;
  display: block;
  padding: 0 15px;
  font-size: 16px;
  background: #063247;
  transition: .5s;
}
nav ul li a:hover,
nav ul li a.active{
  color: #23dbdb;
}

.nav-dropdown2{
  position: absolute;
  border-top: 3px solid #23dbdb;
  width: 220px;
  display: none;
  z-index: 4;
  transition: 0.5s linear;
}

.nav-dropdown2 li{
    z-index: 9;
}

.nav-dropdown3{
    position: absolute;
    border-top: 3px solid #23dbdb;
    width: 220px;
    display: none;
    transition: 0.5s linear;
    z-index: 2;
  }

.nav-dropdown1 li:hover> .nav-dropdown2 {
  display: inline-block;
  top:70px;
  opacity: 1;
}

.nav-dropdown2 li:hover> .nav-dropdown3{
    top: 0px;
    display: inline-block;
    opacity: 1;
  }
  


nav ul ul li{
  display: list-item;
  position: relative;
  border: 1px solid #042331;
  border-top: none;
}
nav ul ul li a{
  line-height: 50px;
}
.nav-dropdown3 {
  border-top: none;
}
.nav-dropdown3 li{
  position: relative;
  left: 220px;
} 

nav ul ul li a i{
  margin-left: 10px;
}

.fa-caret-down,.fa-caret-right {
  color:white;
  position: relative;
  top: 0px;
}

.sidenav-open {
font-size:35px; color: white; display: inline-block;
}


