<div class="row">
    <div class="card__collection clear-fix col-md-3 mx-auto">
        
          <div class="cards cards--three">
            <img src="../../../assets/faculties/faculty_{{facultyDet.id}}.jpg" class="img-responsive box" alt="">
            <span class="cards--three__rect-1">
              <span class="shadow-1">
                <p>Name: {{facultyDet.name}}
              <br>
              Grade: {{facultyDet.grade}}</p>
              </span>
              
            </span>
            <span class="cards--three__rect-2">
              <span class="shadow-2 pt-2">Subject: <br>{{facultyDet.subject}}</span>
            </span>
            <span class="cards--three__circle"></span>
            <ul class="cards--three__list">
              <li><a href="https://facebook.com" target="_blank"><i class="fa fa-facebook-f" style="color:black"></i></a></li>
              <li><a href="https://linkedin.com" target="_blank"><i class="fa fa-linkedin" style="color:black"></i></a></li>
              <li><a href="https://youtube.com" target="_blank"><i class="fa fa-youtube-play" style="color:black"></i></a></li>
            </ul>
          </div>
        </div>
    
       
      
        </div>