#cover-pic-home{
    z-index: 0;
    width: 100%;
    animation: zoomIn 10s infinite;
}

.home-img-body {
    position: relative;
}

.upper-poster {
    position: relative;
    top: 50px
}

.poster-text-box {
    position: absolute;
    border-radius: 2px;
    line-height: 35px;
    top: 30%;
    left: 10%;
    z-index: 1;
    font-size: 35px;
    font-weight: 100;
    background: rgba(0, 0, 0, 0.603);
    color: white;
    font-family: dosis;
}


.poster-text-box p {
    animation: fadeIn 8s infinite;
    animation-delay: 1s;
}

.join-now-btn {
    background-color: #94CAC5;
    font-family: Dosis;
    cursor: pointer;
    text-align: inherit;
    font-weight: 900;
    font-size: 20px;
    border-color: rgba(255, 255, 255, 0);
    border-radius: 30px;
    padding: 10px 30px;
    color: rgb(8, 0, 0);
}

@keyframes fadeIn {
    0% { opacity: 0;}
    30% { opacity: 1;}
    100% { opacity: 1;}
}

@keyframes zoomIn {
    0% {
        opacity: 0.6;
    }
    30% {
        opacity: 1;
    }
    100% {
        transform: scale(1.2);
    }
}

.feature-container{
    padding-top: 50px
}

.feature-img{
    overflow: hidden;
}

.feature-img img {
    width: 100%;
    transition: 0.5s;
}

.feature-img img:hover {
    transform: scale(1.2) rotate(8deg)
}


@media only screen and (max-width: 768px) {
    #cover-pic-home {
        height: 50vh;
        width: 140%;
    }
}

@media only screen and (max-width: 600px) {
    #cover-pic-home {
        height: 70vh;
        width: 140%;
    }

    .poster-text-box {
        width: 100%;
        left: 0%
    }
}

:host ::ng-deep .ui-carousel-dot-icon {
    width: 16px !important;
    height: 16px !important;
    border-radius: 50%;
}

