<div class="container-fluid all-course-container">
    <p-toast position="center" key="purchaseCourse"></p-toast>
    <div class="upper-section col-md-11 mx-auto">
        <div class="row justify-content-around">
            <div class="col-md-7">
                <div class="animate__animated animate__slideInLeft">
                    <h1 class="px-auto my-0">
                        <span style="color: #7ac7bf; line-height: 20px;">MakeUrMark</span>
                    </h1>
                    <h1 style="font-weight:800">Courses Portal for <span
                            style="font-size:40px;font-weight:800;color: #7ac7bf">
                            {{selectedBoardSubject?.label}}</span></h1>
                    <hr style="border: solid 1px #7ac7bf">
                    <p style="font-family: Geneva;font-size: 17px; line-height: 22px;">We provide you the best teachers
                        from the recongnised institutions from all over the India.
                        This is the best platform for the students who enjoy to learn the new things then content
                        content
                        content content content content content content content content content content content </p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="total-package rounded shadow py-4 px-5 animate__animated animate__slideInRight">
                    Discount Subjects:
                    Discount Months:

                    <!-- <p style="font-weight: 700;font-size: 16px; margin:0">
                        You can get the full courses just for
                    </p>
                    <p style="margin:0;">
                        <span style="font-size: 14px;text-decoration: line-through;">₹ {{totalAllCost}}</span>
                        <span style="color:#7ac7bf;font-size: 17px;font-weight: 600;"> 10% off</span>
                    </p>
                    <h1 style="font-size: 3.7rem;font-family: Candara;margin:0;font-weight: 600">₹ 17000/- </h1>
                    <small class="text-danger">*GST included</small> -->
                    <div class="row mx-auto mt-3">
                        <button class="purchase-all-btn mx-auto">PURCHASE NOW</button>
                    </div>
                </div>
            </div>
            <div class="mx-auto features rounded shadow">
                <div class="row py-3">
                    <div class="col-6 col-md-3">
                        <p><i class="fa fa-check" style="font-size: 25px;color: #37c386;margin-right: 1px;">
                            </i>Interactive Live Sessions
                        </p>
                    </div>
                    <div class="col-6 col-md-3">
                        <p><i class="fa fa-check" style="font-size: 25px;color: #37c386;margin-right: 1px;">
                            </i>Anytime Doubt Solving</p>
                    </div>
                    <div class="col-6 col-md-3">
                        <p><i class="fa fa-check" style="font-size: 25px;color: #37c386;margin-right: 1px;">
                            </i>One to One PI sessions</p>
                    </div>
                    <div class="col-6 col-md-3">
                        <p><i class="fa fa-check" style="font-size: 25px;color: #37c386;margin-right: 1px;">
                            </i>Tips and Tricks for Board Exams</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-section col-12 mx-auto">
        <div class="col-12" style="padding-top: 10px; text-align:center; margin-bottom: 40px;">
            <h2 class="chapter-header"><span style="color:#7ac7bf">Courses</span> Details</h2>
        </div>
        <div class="card">
            <div class="card-header row justify-content-between mx-0" style="height: 60px;background: #94CAC5;">
                <div>
                    <h4>ORDER SUMMARY</h4>
                </div>
                <div>
                    <span class="fa fa-shopping-cart" style="font-size: 30px;font-weight: 700;"
                        (click)="displayCartItem()"></span>
                    <p class="total-items">{{itemSelected?.length}}</p>
                </div>
            </div>
            <div class="card-body" style="padding:0">
                <app-tab-view [boardSubject]="selectedBoardSubject" [tutionFeesList]="tutionFeesList"
                    (selectedItems)="displaySelected($event)"></app-tab-view>
            </div>
        </div>

    </div>
</div>

<p-dialog header="CART DETAILS" [(visible)]="display" [style]="{width: '40vw'}" [baseZIndex]="10000" [modal]="true">
    <div class="my-3">
        <div class="card">
            <div class="card-header">
                <div class="row justify-content-between">
                    <div class="col-5 px-0">
                        <input type="text" placeholder="Have a promo code?" pInputText [(ngModel)]="property" />
                    </div>
                    <div class="col-5 px-0">
                        <p-inputNumber (ngModelChange)="monCountDiscount($event)" style="width:100%"
                            [(ngModel)]="totalMonths" suffix=" MONTHS" [min]="1" [max]="12" [showButtons]="true">
                        </p-inputNumber>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <table class="table checkout-summary-table table-sm" *ngIf="itemSelected?.length>0">
                    <tr>
                        <th>ITEM SELECTED</th>
                        <th>MONTHS</th>
                        <th>COST</th>
                    </tr>
                    <tr *ngFor="let item of itemSelected">
                        <td>
                            {{item.subject}} {{item.feesSelected.batchType}}
                        </td>
                        <td>
                            {{totalMonths}}
                        </td>
                        <td>
                            {{item.feesSelected.tutionFees}}
                        </td>
                    </tr>
                    <tr>
                        <td><strong>Total</strong></td>
                        <td></td>
                        <td><strong>{{totalSelectedCostBasic}}</strong></td>
                    </tr>
                    <tr>
                        <td>Subject Discount</td>
                        <td>{{subDiscount}}%</td>
                        <td>-{{totalSelectedCostBasic*subDiscount/100}}</td>
                    </tr>
                    <tr>
                        <td>Duration Discount</td>
                        <td>{{monDiscount}}%</td>
                        <td>-{{totalSelectedCostBasic*monDiscount/100}}</td>
                    </tr>
                    <tr>
                        <td>Wallet Money</td>
                        <td></td>
                        <td>-{{this.userData.walletDeduction}}</td>
                    </tr>
                    <tr>
                        <td><strong>Grand Total</strong></td>
                        <td></td>
                        <td><strong>{{totalDiscountedCost}}</strong></td>
                    </tr>
                </table>
            </div>
            <div class="card-footer">
                <div class="row px-2" style="justify-content: space-between">
                    <h5 style="font-weight:700" #grandTotal>Grand Total: {{totalDiscountedCost}}</h5>
                    <button *ngIf="paymentMode=='regular' && itemSelected.length>0" class="btn btn-success" 
                        (click)="securePay()" [disabled]="totalDiscountedCost==0">Checkout</button>
                    <button *ngIf="paymentMode=='wallet' && itemSelected.length>0" class="btn btn-success" 
                        (click)="walletPay()">Checkout</button>
                </div>
            </div>
        </div>
    </div>
</p-dialog>