 .all-course-container {
    position: relative;
    top: 170px;
    margin-bottom: 25vh
}

.upper-section {
    background-color: aliceblue;
    padding: 25px;
    font-family: Dosis;
    position: relative;
    margin-bottom: 90px;
}

.total-package {
    background: white;
    border: #063247 solid 1px
}

.purchase-all-btn {
    background-color: #063247;
    font-family: Dosis;
    cursor: pointer;
    text-align: inherit;
    font-weight: 900;
    font-size: 18px;
    border-color: #06324746;
    border-radius: 30px;
    padding: 10px 30px;
    color: white
}

.features {
    position: relative;
    top: 60px;
    width: 85%;
    text-align:center;
    background-color: #063247;
    color: white;
    font-size: 14px;
}

i {
    font-size: 35px;
}

.total-items {
    position: absolute;
    right: 8px;
    font-size: 13px;
    text-align: center;
    width: 20px;
    border-radius: 50%;
    background: red;
    margin: 0px;
    top: 6px;
}

:host ::ng-deep .ui-dialog .ui-dialog-titlebar {
    padding:10px 15px;
    font-size: 20px;
    color: white;
    background: #063247;
}

:host ::ng-deep .ui-inputnumber-input {
    width: 100%
}

.checkout-summary-table {
    font-size: 0.8rem;
}

@media screen and (max-width: 768px) {
    :host ::ng-deep .ui-dialog {
        width: 70vw !important
    }
}

@media screen and (max-width: 1024px) {

    :host ::ng-deep .ui-dialog {
        width: 80vw !important
    }
}
