<div class="container edit-courses-main">
    <div class="col-12" style="padding-top: 10px; text-align:center">
        <h2 class="chapter-header">Edit <span style="color:#7ac7bf">Courses</span> Dashboard</h2>
    </div>

    <form (ngSubmit)="formSubmitted($event)" #editCoursesForm="ngForm" ngNativeValidate>

        <div class="row">
            <div class="col-md-3 form-group" *ngFor="let details of courseDet.columns">
                <label for={{details.name}}><strong>{{details.label}}:</strong></label>
                <div *ngIf="details.type =='text'">
                    <input type={{details.type}} pInputText class="form-control" [(ngModel)]="courseDet[details.name]"
                        id={{details.name}} [ngModelOptions]="{standalone: true}" required>
                </div>
                <div *ngIf="details.type =='dropdown'">
                    <p-dropdown [options]="details.values" [name]="details.name" (onChange)="changed($event, details.name)" [(ngModel)]="courseDet[details.name]"
                        [filter]="details.filter" placeholder="Select {{details.name}}" filterBy="details.values.label"
                        [ngModelOptions]="{standalone: true}" showClear=true required 
                        [disabled]="details.values.length===0" ></p-dropdown>
                </div>
                <div *ngIf="details.type =='curr'">
                    <p-inputNumber [(ngModel)]="courseDet[details.name]" mode="currency" currency="INR" 
                    locale="en-IN" [ngModelOptions]="{standalone: true}" required></p-inputNumber>
                </div>
                
                
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</div>