.faculty-form {
    background-color: aliceblue;
    padding: 0px 50px 30px 30px;
    font-family: Dosis;
    position: relative;
    top: 170px;
    margin-bottom: 90px;
}

.form-container {
    background-color: white;
    border: #063247 solid 1px;
    box-sizing: border-box;
}

form {
    overflow: hidden;
}

.fa-bookmark {
    position: absolute;
    top: -13px;
    color: #063247;
    right: 22px;
    font-size: 64px;
}

.page-number {
    font-size: 24px;
    color: white;
    position: absolute;
    top: -4px;
    right: 30px;
}

a {
    cursor: pointer;
    color: #0277bd
}

#otp-mail, #otp-mob {
    display: block;
	margin: 0.5em auto;
	border: none;
	padding: 0;
	width: 9ch;
	background: repeating-linear-gradient(90deg, 
		dimgrey 0, dimgrey 1ch, 
		transparent 0, transparent 1.5ch) 
		0 100%/8.5ch 2px no-repeat;
	font: 5ch droid sans mono, consolas, monospace;
	letter-spacing: 0.5ch;
}

#otp-mail:focus, #otp-mob:focus {
    outline: none;
	color: dodgerblue;
}

:host ::ng-deep .ui-multiselect-items-wrapper ul{
    max-height: 100px;
    width: 205px;
}


:host ::ng-deep .ui-multiselect {
    z-index: 5;
    min-width: 15em;
}

:host ::ng-deep .ui-multiselected-item-token,
:host ::ng-deep .ui-multiselected-empty-token {
    padding: 2px 4px;
    margin: 0 0.286em 0 0;
    display: inline-block;
    vertical-align:middle;
    height: 1.857em;
}

:host ::ng-deep .ui-multiselected-item-token {
    background: #007ad9;
    color: #ffffff;
}

:host ::ng-deep .ui-multiselected-empty-token {
    background: #d95f00;
    color: #ffffff;
}

.selected-file {
    position: relative;
    font-size: 17px;
    top: -14px;
}