<app-login-registration [callFor]=openLoginPopUp  (isVisisbleFromLogin)="loginPopUpClose($event)"></app-login-registration>
<p-confirmDialog key="logoutConfirm" header="Logout" icon="pi pi-exclamation-triangle"></p-confirmDialog>
<div class="container-fluid row py-1 mx-0" style="background: #94CAC5; top: 0px;position: fixed; overflow: hidden; z-index: 10; width: 100%">
    <div class="upper-header col-12" >
        <p class="pt-2">
            <span class="info info-mail"><i class="fa fa-envelope" style="font-size:18px;"></i>mrigXXXXX@abc.com</span>
            <span class="info info-location"><i class="fa fa-map-marker" style="font-size:18px"></i>Kolkata, West Bengal</span>
            <span class="info info-contact"><i class="fa fa-mobile-phone" style="font-size:18px"></i>+91-980XXXXXXX</span>
        </p>
    </div>
    <!-- <button class="logout-button py-1 px-4"  (click)="logout()">Login</button> -->
</div>


<nav>
    <i (click)="openSideNav()" class="fa fa-bars pl-3 sidenav-open" aria-hidden="true" ></i>
    <div>

        <a class="navbar-brand ml-3" [routerLink]="['./home']" >
            <img src="../../assets/HPSLogo.png" alt="logo.png" id="makeUrMark-logo">
        </a>
    </div>
    <ul class="nav-dropdown1">
        <li><a href="#">Tution<i class="fa fa-caret-down" aria-hidden="true"></i></a>
            <ul class="nav-dropdown2">
                <li><a href="#">Regular Live Tution<i class="fa fa-caret-right" aria-hidden="true"></i></a>
                    
                    <ul class="nav-dropdown3">
                        <li *ngFor="let eachClass of classList">
                            <a href="#">Regular Class {{eachClass}}</a>
                        </li>
                    </ul>
                </li>
                <li><a href="#">Premium Live Tution<i class="fa fa-caret-right" aria-hidden="true"></i></a>
                    <ul class="nav-dropdown3">
                        <li *ngFor="let eachClass of classList">
                            <a href="#">Premium Class {{eachClass}}</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a href="#">Study Material</a></li>
        <li><a class="nav-link" (click)="navigateTo('securePay')">Payment</a></li>
        <li><a href="#">Enroll<i class="fa fa-caret-down" aria-hidden="true"></i></a>
            <ul class="nav-dropdown2">
                <li><a href="#">Enroll as Student</a></li>
                <li><a href="#">Enroll as Facult</a></li>
                <li><a href="#">Login as Parent</a></li>
            </ul>
        </li>
        <li><a href="#">Explore<i class="fa fa-caret-down" aria-hidden="true"></i></a>
            <ul class="nav-dropdown2">
                <li><a href="#" >Explore as Student<i class="fa fa-caret-right" aria-hidden="true"></i></a>
                    <ul class="nav-dropdown3">
                        <li><a href="#">Registration</a></li>
                        <li><a href="#">View Recorded Sessions</a></li>
                        <li><a href="#">Question Bank</a></li>
                        <li><a href="#">Resister for Practice test</a></li>
                        <li><a href="#">Refer a Fried</a></li>
                        <li><a href="#">Pay Fees</a></li>
                        <li><a href="#">View Results</a></li>
                        <li><a href="#">View Branch Roaster</a></li>
                        <li><a href="#">View Holiday Calender</a></li>
                    </ul>
                </li>
                <li><a href="#">Explore as Faculty<i class="fa fa-caret-right" aria-hidden="true"></i></a>
                    <ul class="nav-dropdown3">
                        <li><a [routerLink]="['explore/faculty']" fragment="upload-material">Materials/Question Upload</a></li>
                        <li><a [routerLink]="['explore/faculty']" fragment="schedule-test">Schedule Test</a></li>
                        <li><a [routerLink]="['explore/faculty']" fragment="record-marks">Record Students' Marks</a></li>
                        <li><a [routerLink]="['explore/faculty']" fragment="refer-student">Refer Student</a></li>
                        <li><a [routerLink]="['explore/faculty']" fragment="refer-faculty">Refer Faculty</a></li>
                    </ul>
                </li>
                <li><a href="#">Explore as Parent<i class="fa fa-caret-right" aria-hidden="true"></i></a>
                    <ul class="nav-dropdown3">
                        <li><a href="#">Enroll Students</a></li>
                        <li><a href="#">View Student Performance</a></li>
                        <li><a href="#">View Student Attendacne</a></li>
                        <li><a href="#">Refer Student</a></li>
                        <li><a href="#">Refer Teacher</a></li>
                        <li><a href="#">Pay Fees</a></li>
                        <li><a href="#">View Recorded Sessions Test</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        
        <li><a href="#">More<i class="fa fa-caret-down" aria-hidden="true"></i></a>
            <ul class="nav-dropdown2">
                <li><a href="#">About MakeUrMark</a></li>
                <li><a href="#">Our Success Stories</a></li>
                <li><a href="#">Our Blog</a></li>
                <li><a href="#">FAQ</a></li>
            </ul>
        </li>
        <li><a href="#">Contact Us</a></li>
    </ul>
    <a *ngIf="!userName"><button class="logout-button py-1 px-4" (click)="loginPopUp()">Login</button></a>
    <div class="dropdown logout-button" *ngIf="userName">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Hello, {{userName | titlecase}}
        </button>
        <div class="dropdown-menu account-btn-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item account-btn" (click)="editProfileCalled()">Edit Profile</a>
          <hr class="my-2" style="width: 90%;">
          <a class="dropdown-item account-btn" (click)="logoutCalled()">Logout</a>
        </div>
      </div>
</nav>


<!---------------------------------Side bar---------------------------------->

 <div @slideLeftRight class="sidebar" id="sideMenuBar" *ngIf="sideNavBarOpen">
    <ul class="dropdown1">
        <li><a href="#">Tution<i class="fa fa-caret-down" aria-hidden="true"></i></a>
            <ul class="dropdown2">
                <li><a href="#">Regular Live Tution<i class="fa fa-caret-down" aria-hidden="true"></i></a>
                    
                    <ul class="dropdown3">
                        <li *ngFor="let eachClass of classList">
                            <a href="#">Regular Class {{eachClass}}</a>
                        </li>
                    </ul>
                </li>
                <li><a href="#">Premium Live Tution<i class="fa fa-caret-down" aria-hidden="true"></i></a>
                    <ul class="dropdown3">
                        <li *ngFor="let eachClass of classList">
                            <a href="#">Premium Class {{eachClass}}</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
<li><a href="#">Study Material</a></li>
<li><a class="nav-link" (click)="navigateTo('securePay')">Payment</a></li>
 <li><a href="#">Enroll<i class="fa fa-caret-down" aria-hidden="true"></i></a>
            <ul class="dropdown2">
                <li><a href="#">Enroll as Student</a></li>
                <li><a href="#">Enroll as Facult</a></li>
                <li><a href="#">Login as Parent</a></li>
            </ul>
        </li>
        <li><span class="dropdown-link">Explore<i class="fa fa-caret-down" aria-hidden="true"></i></span>
            <ul class="dropdown2">
                <li><span class="dropdown-link">Explore as Student<i class="fa fa-caret-down" aria-hidden="true"></i></span>
                    <ul class="dropdown3">
                        <li><a href="#">Registration</a></li>
                        <li><a href="#">View Recorded Sessions</a></li>
                        <li><a href="#">Question Bank</a></li>
                        <li><a href="#">Resister for Practice test</a></li>
                        <li><a href="#">Refer a Fried</a></li>
                        <li><a href="#">Pay Fees</a></li>
                        <li><a href="#">View Results</a></li>
                        <li><a href="#">View Branch Roaster</a></li>
                        <li><a href="#">View Holiday Calender</a></li>
                    </ul>
                </li>
                <li><span class="dropdown-link">Explore as Faculty<i class="fa fa-caret-down" aria-hidden="true"></i></span>
                    <ul class="dropdown3">
                        <li><a [routerLink]="['explore/faculty']" fragment="upload-material">Materials/Question Upload</a></li>
                        <li><a [routerLink]="['explore/faculty']" fragment="schedule-test">Schedule Test</a></li>
                        <li><a [routerLink]="['explore/faculty']" fragment="record-marks">Record Students' Marks</a></li>
                        <li><a [routerLink]="['explore/faculty']" fragment="refer-student">Refer Student</a></li>
                        <li><a [routerLink]="['explore/faculty']" fragment="refer-faculty">Refer Faculty</a></li>
                    </ul>
                </li>
                <li><span class="dropdown-link">Explore as Parent<i class="fa fa-caret-down" aria-hidden="true"></i></span>
                    <ul class="dropdown3">
                        <li><a href="#">Enroll Students</a></li>
                        <li><a href="#">View Student Performance</a></li>
                        <li><a href="#">View Student Attendacne</a></li>
                        <li><a href="#">Refer Student</a></li>
                        <li><a href="#">Refer Teacher</a></li>
                        <li><a href="#">Pay Fees</a></li>
                        <li><a href="#">View Recorded Sessions Test</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        
        <li><span class="dropdown-link">More<i class="fa fa-caret-down" aria-hidden="true"></i></span>
            <ul class="dropdown2">
                <li><a href="#">About MakeUrMark</a></li>
                <li><a href="#">Our Success Stories</a></li>
                <li><a href="#">Our Blog</a></li>
                <li><a href="#">FAQ</a></li>
            </ul>
        </li>
        <li><a href="#">Doubt Clearing</a></li>
        <li><a href="#">Contact Us</a></li>
        
    </ul>
    
</div>