
<div class="login-body rounded">
    <p-messages [(value)]="msgs"></p-messages>
        <form #loginForm="ngForm" ngNativeValidate>
            <div class="col-12" style="text-align: center;font-family: dolis;">
                <span style="font-size: 35px; font-weight: 700;">Welcome To</span><br>
                <span style="font-size: 35px; font-weight: 700; color:#7ac7bf">MakeUrMark</span>
            </div>
            <div class="form-group col-11 mx-auto mb-0"  style="margin-top: 30px;">
                <label for="email"><strong>*USERNAME</strong></label>
                <div class="input-group">
                    <span class="input-group-addon rounded-left"><i class="fa fa-user"></i></span>
                    <input required type="text" class="form-control" name="userName" 
                    placeholder="Email Id" ngModel #userName="ngModel">
                  </div>
              </div>
              <br>
              <div class="form-group col-11 mx-auto">
                <label for="pwd"><strong>*PASSWORD:</strong></label>
                <div class="input-group">
                    <span class="input-group-addon rounded-left"><i class="fa fa-lock"></i></span>
                    <input required type={{passwordType}} class="form-control password-field" 
                    name="password" placeholder="Your password" ngModel #password="ngModel">
                    <span (click)="pwTypeChange()" class="fa fa-lg" 
                    [ngClass]="passwordType=='text'?'fa-eye-slash':'fa-eye'"></span>
                  </div>
                
              </div>
              <div class="button-container col-11 mt-2 mx-auto">
              <button type="submit" class="col-12 btn btn-default btn-login"
                    [disabled]="loginForm.invalid" (click)="loginSubmit(loginForm)">LOGIN</button>
              </div>
        </form>
        <hr class="col-10" style="border-top: 1px solid #2f2f2f; margin-top: 32px;">
        <div class="col-11 text-bottom mx-auto mb-2">
            <p>Dont have an acount? <a (click)="toggleForm('register')">Sign Up</a></p>
            <a (click)="toggleForm('faculty')">Join as a Faculty</a>
        </div>
    </div>
   

