<div class="container admin-explore-container">
    <p-confirmDialog key="deleteConfirm" header="Delete Confirmation" icon="pi pi-exclamation-triangle">
    </p-confirmDialog>
    <p-toast position="center" key="deleteToast"></p-toast>
    <div class="row px-0 mx-0">
        <div class="col-md-3 order-md-1 context-menu">
            <div class="context-menu position-fixed">
                <p># CONTENTS</p>
                <ul #context>
                    <li (click)="scrollTo('structural-view')">Structural Details</li>
                    <li (click)="scrollTo('fees-view')">Fees Details</li>
                    <li (click)="scrollTo('fixed-discount-view')">Fixed Discount Details</li>
                    <li (click)="scrollTo('roster-holiday-view')">Roster Holiday View</li>
                </ul>
            </div>

        </div>
        <div class="col-md-9 order-md-0 col-md-9 main-menu-container border-right">

            <div class="col-12 card each-card px-0 mb-5 shadow rounded" id="structural-view">
                <div class="card-header py-3" style="background-color: aliceblue;">
                    <div>
                        <h5>SELECT THE OPTION YOU WANT ADD/DELETE/VIEW</h5>
                    </div>
                    <div class="form-selection-bar">
                        <ng-container *ngFor="let viewOption of viewOptionsFormat[0].formOptions">
                            <span class="each-raadio-button">
                                <p-radioButton name="viewOptionsFormat[0].name" value={{viewOption.value}}
                                    label={{viewOption.label}} [(ngModel)]="viewOptionsFormat[0].value"></p-radioButton>
                            </span>
                        </ng-container>
                    </div>
                </div>
                <div class="card-body px-0">
                    <div class="col-12" *ngIf="viewOptionsFormat[0].value == 'board'">
                        <h2 class="admin-chapter-header">Add/Delete Board</h2>
                        <form #addBoardForm="ngForm" ngNativeValidate>
                            <div class="row">

                                <div class="col-lg-5 each-form-field">
                                    <mat-label class="my-2 px-0 mr-3"><strong>*Board Label</strong></mat-label>
                                    <input required style="width:100%" type="text" name="label" pInputText capitalizeAll
                                        ngModel #label="ngModel" />
                                </div>
                                <div class="col-lg-5 each-form-field">
                                    <mat-label class="my-2 px-0 mr-3"><strong>*Board Value</strong></mat-label>
                                    <input required style="width:100%" type="text" name="value" pInputText ngModel
                                        #value="ngModel" />
                                </div>
                                <div class="col-lg-2 each-form-field">
                                    <mat-label class="my-2 px-0 mr-3"><strong></strong></mat-label>
                                    <button class="col-2 col-lg-12 btn btn-primary btn-sm"
                                        [disabled]="addBoardForm.invalid"
                                        (click)="addGradeSubBoard(addBoardForm, 'Board')">Add</button>
                                </div>
                            </div>
                        </form>
                        <div class="col-12 mt-3">

                            <p-table [value]="allBoards" [columns]="allColumns[0].cols" [scrollable]="true"
                                scrollHeight="200px" [(selection)]="selectedDataForDel" dataKey="_id">
                                <ng-template pTemplate="caption">
                                    ALL BOARD DETAILS LIST
                                </ng-template>
                                <ng-template pTemplate="header" let-columns>
                                    <tr>
                                        <th style="width: 2rem">
                                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                                        </th>
                                        <th *ngFor="let col of columns" [style.width.px]="col.width">{{col.header}}</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-boards let-columns="columns" let-index="rowIndex">
                                    <tr>
                                        <td style="width: 2rem">
                                            <p-tableCheckbox [value]="boards"></p-tableCheckbox>
                                        </td>
                                        <td *ngFor="let col of columns" [style.width.px]="col.width">
                                            {{ col.pipeChk == 'date'? (boards[col.field] | date: 'short') : boards[col.field] }}
                                        </td>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="summary">
                                    <button class="btn btn-primary" (click)="commonDelete('Board')">Delete</button>
                                </ng-template>
                            </p-table>

                        </div>
                    </div>

                    <div class="col-12" *ngIf="viewOptionsFormat[0].value == 'grade'">
                        <h2 class="admin-chapter-header">Add/Delete Grade</h2>
                        <form #addGradeForm="ngForm" ngNativeValidate>
                            <div class="row">

                                <div class="col-lg-5 each-form-field">
                                    <mat-label class="my-2 px-0 mr-3"><strong>*Grade Label</strong></mat-label>
                                    <input required style="width:100%" type="text" name="label" pInputText capitalizeAll
                                        ngModel #label="ngModel" />
                                </div>
                                <div class="col-lg-5 each-form-field">
                                    <mat-label class="my-2 px-0 mr-3"><strong>*Grade Value</strong></mat-label>
                                    <input required style="width:100%" type="text" name="value" pInputText ngModel
                                        #value="ngModel" />
                                </div>
                                <div class="col-lg-2 each-form-field">
                                    <mat-label class="my-2 px-0 mr-3"><strong></strong></mat-label>
                                    <button class="col-2 col-lg-12 btn btn-primary btn-sm"
                                        [disabled]="addGradeForm.invalid"
                                        (click)="addGradeSubBoard(addGradeForm, 'Grade')">Add</button>
                                </div>
                            </div>
                        </form>
                        <div class="col-12 mt-3">
                            <p-table [value]="allGrades" [columns]="allColumns[0].cols" [scrollable]="true"
                                scrollHeight="200px">
                                <ng-template pTemplate="caption">
                                    ALL GRADE DETAILS LIST
                                </ng-template>
                                <ng-template pTemplate="header" let-columns>
                                    <tr>
                                        <th style="width: 2rem">
                                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                                        </th>
                                        <th *ngFor="let col of columns" [style.width.px]="col.width">{{col.header}}</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-grade let-columns="columns" let-index="rowIndex">
                                    <tr>
                                        <td style="width: 2rem">
                                            <p-tableCheckbox [value]="grade"></p-tableCheckbox>
                                        </td>
                                        <td *ngFor="let col of columns" [style.width.px]="col.width">
                                            {{ col.pipeChk == 'date'? (grade[col.field] | date: 'short') : grade[col.field] }}
                                        </td>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="summary">
                                    <button class="btn btn-primary" (click)="commonDelete('Grade')">Delete</button>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>

                    <div class="col-12" *ngIf="viewOptionsFormat[0].value == 'subject'">
                        <h2 class="admin-chapter-header">Add/Delete Subject</h2>
                        <form #addSubjectForm="ngForm" ngNativeValidate>
                            <div class="row">

                                <div class="col-lg-5 each-form-field">
                                    <mat-label class="my-2 px-0 mr-3"><strong>*Subject Label</strong></mat-label>
                                    <input required style="width:100%" type="text" name="label" pInputText capitalizeAll
                                        ngModel #label="ngModel" />
                                </div>
                                <div class="col-lg-5 each-form-field">
                                    <mat-label class="my-2 px-0 mr-3"><strong>*Subject Value</strong></mat-label>
                                    <input required style="width:100%" type="text" name="value" pInputText ngModel
                                        #value="ngModel" />
                                </div>
                                <div class="col-lg-2 each-form-field">
                                    <mat-label class="my-2 px-0 mr-3"><strong></strong></mat-label>
                                    <button class="col-2 col-lg-12 btn btn-primary btn-sm"
                                        [disabled]="addSubjectForm.invalid"
                                        (click)="addGradeSubBoard(addSubjectForm, 'Subject')">Add</button>
                                </div>
                            </div>
                        </form>
                        <div class="col-12 mt-3">
                            <p-table [value]="allSubjects" [columns]="allColumns[0].cols" [scrollable]="true"
                                scrollHeight="200px"  [(selection)]="selectedDataForDel" dataKey="_id">
                                <ng-template pTemplate="caption">
                                    ALL SUBJECT DETAILS LIST
                                </ng-template>
                                <ng-template pTemplate="header" let-columns>
                                    <tr>
                                        <th style="width: 2rem">
                                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                                        </th>
                                        <th *ngFor="let col of columns" [style.width.px]="col.width">{{col.header}}</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-subject let-columns="columns" let-index="rowIndex">
                                    <tr>
                                        <td style="width: 2rem">
                                            <p-tableCheckbox [value]="subject"></p-tableCheckbox>
                                        </td>
                                        <td *ngFor="let col of columns" [style.width.px]="col.width">
                                            {{ col.pipeChk == 'date'? (subject[col.field] | date: 'short') : subject[col.field] }}
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>

                    <div class="col-12" *ngIf="viewOptionsFormat[0].value == 'batchType'">
                        <h2 class="admin-chapter-header">Add/Delete Batch Type</h2>
                        <form #batchTypeForm="ngForm" ngNativeValidate>
                            <div class="row">
                                <div class="col-lg-5 each-form-field">
                                    <mat-label class="my-2 px-0 mr-3"><strong>*Batch Label</strong></mat-label>
                                    <input required style="width:100%" type="text" name="label" pInputText capitalizeAll
                                        ngModel #label="ngModel" />
                                </div>
                                <div class="col-lg-5 each-form-field">
                                    <mat-label class="my-2 px-0 mr-3"><strong>*Batch Value</strong></mat-label>
                                    <input required style="width:100%" type="text" name="value" pInputText ngModel
                                        #value="ngModel" />
                                </div>
                                <div class="col-lg-2 each-form-field">
                                    <mat-label class="my-2 px-0 mr-3"><strong></strong></mat-label>
                                    <button class="col-2 col-lg-12 btn btn-primary btn-sm"
                                        [disabled]="batchTypeForm.invalid"
                                        (click)="addGradeSubBoard(batchTypeForm, 'Batch Type')">Add</button>
                                </div>
                            </div>
                        </form>
                        <div class="col-12 mt-3">
                            <p-table [value]="allBatchType" [columns]="allColumns[0].cols" [scrollable]="true"
                                scrollHeight="200px"  [(selection)]="selectedDataForDel" dataKey="_id">
                                <ng-template pTemplate="caption">
                                    ALL BATCH STRENGTH DETAILS LIST
                                </ng-template>
                                <ng-template pTemplate="header" let-columns>
                                    <tr>
                                        <th style="width: 2rem">
                                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                                        </th>
                                        <th *ngFor="let col of columns" [style.width.px]="col.width">{{col.header}}</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-batch let-columns="columns" let-index="rowIndex">
                                    <tr>
                                        <td style="width: 2rem">
                                            <p-tableCheckbox [value]="batch"></p-tableCheckbox>
                                        </td>
                                        <td *ngFor="let col of columns" [style.width.px]="col.width">
                                            {{ col.pipeChk == 'date'? (batch[col.field] | date: 'short') : batch[col.field] }}
                                        </td>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="summary">
                                    <button class="btn btn-primary" (click)="commonDelete('Batch Type')">Delete</button>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>

                </div>
            </div>

            <hr>

            <div class="col-12 card each-card px-0 my-5 shadow rounded" id="fees-view">
                <div class="card-header py-3" style="background-color: aliceblue;">
                    <div>
                        <h5>SELECT THE OPTION YOU WANT ADD/DELETE/VIEW</h5>
                    </div>
                    <div class="form-selection-bar">
                        <ng-container *ngFor="let viewOption of viewOptionsFormat[1].formOptions">
                            <span class="each-raadio-button">
                                <p-radioButton name="viewOptionsFormat[1].name" value={{viewOption.value}}
                                    label={{viewOption.label}} [(ngModel)]="viewOptionsFormat[1].value"></p-radioButton>
                            </span>
                        </ng-container>
                    </div>
                </div>
                <div class="card-body px-0">
                    <div class="col-12" *ngIf="viewOptionsFormat[1].value == 'tution'">
                        <h2 class="admin-chapter-header">Add/Delete Tution Fees</h2>
                        <form #addTutionFeesForm="ngForm" ngNativeValidate>
                            <div class="row">
                                <div class="col-lg-6 my-4 each-form-field">
                                    <mat-label class="my-2 mr-3"><strong>*Select Grade</strong></mat-label>
                                    <p-dropdown autoWidth="false" [style]="{'width':'100%','z-index':'6'}" required
                                        [options]="allGrades" name="grade" ngModel #grade="ngModel" value="grade.label"
                                        placeholder="Select Grade" optionLabel="label" [showClear]="true">
                                    </p-dropdown>
                                </div>
                                <div class="col-lg-6 my-4 each-form-field">
                                    <mat-label class="my-2 mr-3"><strong>*Select Subject</strong></mat-label>
                                    <p-multiSelect defaultLabel="Select Grades" [options]="allSubjects" ngModel
                                        name="subject" required styleClass="col-lg-6" placeholder="Select Subject" [style]="{'z-index':'6'}"
                                        #subject="ngModel" optionLabel="label" autoWidth="false" styleClass="col-12">
                                    </p-multiSelect>
                                </div>
                                <div class="col-lg-6 my-4 each-form-field">
                                    <mat-label class="my-2 mr-3"><strong>*Select Batch Type</strong></mat-label>
                                    <p-dropdown autoWidth="false" [style]="{'width':'100%','z-index':'5'}" required
                                        [options]="allBatchType" name="batchType" ngModel #batchType="ngModel"
                                        placeholder="Select Batch Type" optionLabel="label" [showClear]="true">
                                    </p-dropdown>
                                </div>
                                <div class="col-lg-6 my-4 each-form-field">
                                    <mat-label class="my-2 px-0 mr-3"><strong>*Tution Fees</strong></mat-label>
                                    <input required style="width:100%" type="text" name="tutionFees" pInputText
                                        numberOnly ngModel #tutionFees="ngModel" placeholder="0" />
                                </div>
                                <div class="col-12 each-form-field mx-auto mt-2">
                                    <button class="col-2 mx-auto btn btn-primary btn-sm"
                                        [disabled]="addTutionFeesForm.invalid"
                                        (click)="addFees(addTutionFeesForm, 'Tution Fees')">Add</button>
                                </div>
                            </div>
                        </form>
                        <div class="col-12 mt-3">
                            <p-table [value]="allTutionFees" [columns]="allColumns[1].cols" [scrollable]="true"
                                scrollHeight="200px" [(selection)]="selectedDataForDel" dataKey="_id">
                                <ng-template pTemplate="caption">
                                    ALL TUTION FEES DETAILS LIST
                                </ng-template>
                                <ng-template pTemplate="header" let-columns>
                                    <tr>
                                        <th style="width: 2rem">
                                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                                        </th>
                                        <th *ngFor="let col of columns" [style.width.px]="col.width">{{col.header}}</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-tutionFee let-columns="columns" let-index="rowIndex">
                                    <tr>
                                        <td style="width: 2rem">
                                            <p-tableCheckbox [value]="tutionFee"></p-tableCheckbox>
                                        </td>
                                        <td *ngFor="let col of columns" [style.width.px]="col.width">
                                            {{ col.pipeChk == 'date'? (tutionFee[col.field] | date: 'short') : tutionFee[col.field] }}
                                        </td>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="summary">
                                    <button class="btn btn-primary" (click)="commonDelete('Tution Fees')">Delete</button>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>

                    <div class="col-12" *ngIf="viewOptionsFormat[1].value == 'test'">
                        <h2 class="admin-chapter-header">Add/Delete Test Fees</h2>
                        <form #addTestFeesForm="ngForm" ngNativeValidate>
                            <div class="row">
                                <div class="col-6 my-4 each-form-field">
                                    <mat-label class="my-2 mr-3"><strong>*Select Grade</strong></mat-label>
                                    <p-dropdown autoWidth="false" [style]="{'width':'100%','z-index':'5'}" required
                                        [options]="allGrades" name="grade" ngModel #grade="ngModel" value="grade.label"
                                        placeholder="Select Grade" optionLabel="label" [showClear]="true">
                                    </p-dropdown>
                                </div>
                                <div class="col-6 my-4 each-form-field">
                                    <mat-label class="my-2 px-0 mr-3"><strong>*Test Fees</strong></mat-label>
                                    <input required style="width:100%" type="text" name="testFees" pInputText numberOnly
                                        ngModel #testFees="ngModel" placeholder="0" />
                                </div>
                                <div class="col-12 each-form-field mx-auto mt-2">
                                    <button class="col-2 mx-auto btn btn-primary btn-sm"
                                        [disabled]="addTestFeesForm.invalid"
                                        (click)="addGradeSubBoard(addTestFeesForm, 'Test Fees')">Add</button>
                                </div>
                            </div>
                        </form>
                        <div class="col-12 mt-3">
                            <p-table [value]="allTestFees" [columns]="allColumns[2].cols" [scrollable]="true"
                                scrollHeight="200px" [(selection)]="selectedDataForDel" dataKey="_id">
                                <ng-template pTemplate="caption">
                                    ALL TEST FEES DETAILS LIST
                                </ng-template>
                                <ng-template pTemplate="header" let-columns>
                                    <tr>
                                        <th style="width: 2rem">
                                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                                        </th>
                                        <th *ngFor="let col of columns" [style.width.px]="col.width">{{col.header}}</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-testFee let-columns="columns" let-index="rowIndex">
                                    <tr>
                                        <td style="width: 2rem">
                                            <p-tableCheckbox [value]="testFee"></p-tableCheckbox>
                                        </td>
                                        <td *ngFor="let col of columns" [style.width.px]="col.width">
                                            {{ col.pipeChk == 'date'? (testFee[col.field] | date: 'short') : testFee[col.field] }}
                                        </td>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="summary">
                                    <button class="btn btn-primary" (click)="commonDelete('Test Fees')">Delete</button>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>


                </div>
            </div>

            <hr>

            <div class="col-12 card each-card px-0 my-5 shadow rounded" id="fixed-discount-view">
                <div class="card-header py-3" style="background-color: aliceblue;">
                    <div>
                        <h5>SELECT THE OPTION YOU WANT ADD/DELETE/VIEW</h5>
                    </div>
                    <div class="form-selection-bar">
                        <ng-container *ngFor="let viewOption of viewOptionsFormat[2].formOptions">
                            <span class="each-raadio-button">
                                <p-radioButton name="viewOptionsFormat[2].name" value={{viewOption.value}}
                                    label={{viewOption.label}} [(ngModel)]="viewOptionsFormat[2].value"></p-radioButton>
                            </span>
                        </ng-container>
                    </div>
                </div>
                <div class="card-body px-0">

                    <div class="col-12" *ngIf="viewOptionsFormat[2].value == 'subjectDiscount'">
                        <h2 class="admin-chapter-header">Add/Delete Subject Discount</h2>
                        <form #addDiscountSubject="ngForm" ngNativeValidate>
                            <div class="row">

                                <div class="col-lg-5 each-form-field">
                                    <mat-label class="my-2 px-0 mr-3"><strong>*Subject Count</strong></mat-label>
                                    <input required style="width:100%" type="text" name="countForDiscount" pInputText
                                        numberOnly ngModel #countForDiscount="ngModel" />
                                </div>
                                <div class="col-lg-5 each-form-field">
                                    <mat-label class="my-2 px-0 mr-3"><strong>*Discount(in %)</strong></mat-label>
                                    <input required style="width:100%" type="text" name="discount" pInputText numberOnly
                                        numberType="float" ngModel #discount="ngModel" />
                                </div>
                                <div class="col-lg-2 each-form-field">
                                    <mat-label class="my-2 px-0 mr-3"><strong></strong></mat-label>
                                    <button class="col-2 col-lg-12 btn btn-primary btn-sm"
                                        [disabled]="addDiscountSubject.invalid"
                                        (click)="addGradeSubBoard(addDiscountSubject, 'Subject Discount')">Add</button>
                                </div>
                            </div>
                        </form>
                        <div class="col-12 mt-3">
                            <p-table [value]="allSubjectDiscount" [columns]="allColumns[3].cols" [scrollable]="true"
                                scrollHeight="200px" [(selection)]="selectedDataForDel" dataKey="_id">
                                <ng-template pTemplate="caption">
                                    ALL FIXED DISCOUNT(SUBJECT) LIST
                                </ng-template>
                                <ng-template pTemplate="header" let-columns>
                                    <tr>
                                        <th style="width: 2rem">
                                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                                        </th>
                                        <th *ngFor="let col of columns" [style.width.px]="col.width">{{col.header}}</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-subjectDiscount let-columns="columns"
                                    let-index="rowIndex">
                                    <tr>
                                        <td style="width: 2rem">
                                            <p-tableCheckbox [value]="subjectDiscount"></p-tableCheckbox>
                                        </td>
                                        <td *ngFor="let col of columns" [style.width.px]="col.width">
                                            {{ col.pipeChk == 'date'? (subjectDiscount[col.field] | date: 'short') : subjectDiscount[col.field] }}
                                        </td>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="summary">
                                    <button class="btn btn-primary" (click)="commonDelete('Subject Discount')">Delete</button>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>

                    <div class="col-12" *ngIf="viewOptionsFormat[2].value == 'monthDiscount'">
                        <h2 class="admin-chapter-header">Add/Delete Months Discount</h2>
                        <form #addDiscountMonth="ngForm" ngNativeValidate>
                            <div class="row">

                                <div class="col-lg-5 each-form-field">
                                    <mat-label class="my-2 px-0 mr-3"><strong>*Month Count</strong></mat-label>
                                    <input required style="width:100%" type="text" name="countForDiscount" pInputText
                                        numberOnly ngModel #countForDiscount="ngModel" />
                                </div>
                                <div class="col-lg-5 each-form-field">
                                    <mat-label class="my-2 px-0 mr-3"><strong>*Discount(in %)</strong></mat-label>
                                    <input required style="width:100%" type="text" name="discount" pInputText numberOnly
                                        numberType="float" ngModel #discount="ngModel" />
                                </div>
                                <div class="col-lg-2 each-form-field">
                                    <mat-label class="my-2 px-0 mr-3"><strong></strong></mat-label>
                                    <button class="col-2 col-lg-12 btn btn-primary btn-sm"
                                        [disabled]="addDiscountMonth.invalid"
                                        (click)="addGradeSubBoard(addDiscountMonth, 'Month Discount')">Add</button>
                                </div>
                            </div>
                        </form>
                        <div class="col-12 mt-3">
                            <p-table [value]="allMonthDiscount" [columns]="allColumns[3].cols" [scrollable]="true"
                                scrollHeight="200px" [(selection)]="selectedDataForDel" dataKey="_id">
                                <ng-template pTemplate="caption">
                                    ALL FIXED DISCOUNT(MONTH) LIST
                                </ng-template>
                                <ng-template pTemplate="header" let-columns>
                                    <tr>
                                        <th style="width: 2rem">
                                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                                        </th>
                                        <th *ngFor="let col of columns" [style.width.px]="col.width">{{col.header}}</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-monthDiscount let-columns="columns"
                                    let-index="rowIndex">
                                    <tr>
                                        <td style="width: 2rem">
                                            <p-tableCheckbox [value]="monthDiscount"></p-tableCheckbox>
                                        </td>
                                        <td *ngFor="let col of columns" [style.width.px]="col.width">
                                            {{ col.pipeChk == 'date'? (monthDiscount[col.field] | date: 'short') : monthDiscount[col.field] }}
                                        </td>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="summary">
                                    <button class="btn btn-primary" (click)="commonDelete('Month Discount')">Delete</button>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>

                </div>
            </div>

            <hr>

            <div class="col-12 card each-card px-0 my-5 shadow rounded" id="roster-holiday-view">
                <div class="card-header py-3" style="background-color: aliceblue;">
                    <div>
                        <h5>SELECT THE OPTION YOU WANT ADD/DELETE/VIEW</h5>
                    </div>
                    <div class="form-selection-bar">
                        <ng-container *ngFor="let viewOption of viewOptionsFormat[3].formOptions">
                            <span class="each-raadio-button">
                                <p-radioButton name="viewOptionsFormat[3].name" value={{viewOption.value}}
                                    label={{viewOption.label}} [(ngModel)]="viewOptionsFormat[3].value"></p-radioButton>
                            </span>
                        </ng-container>
                    </div>
                </div>
                <div class="card-body">

                    <!-- <div class="col-12" *ngIf="viewOptionsFormat[3].value == 'batchRoster'">
                        <h2 class="admin-chapter-header">Add/Remove Student to Batch</h2>
                        <form #addStudentBatch="ngForm" ngNativeValidate>
                            <div class="row">

                                <div class="col-lg-5 each-form-field">
                                    <mat-label class="my-2 px-0 mr-3"><strong>*Subject Count</strong></mat-label>
                                    <input required style="width:100%" type="text" name="countForDiscount" pInputText
                                        numberOnly ngModel #countForDiscount="ngModel" />
                                </div>
                                <div class="col-lg-5 each-form-field">
                                    <mat-label class="my-2 px-0 mr-3"><strong>*Discount(in %)</strong></mat-label>
                                    <input required style="width:100%" type="text" name="discount" pInputText numberOnly
                                        numberType="float" ngModel #discount="ngModel" />
                                </div>
                                <div class="col-lg-2 each-form-field">
                                    <mat-label class="my-2 px-0 mr-3"><strong></strong></mat-label>
                                    <button class="col-2 col-lg-12 btn btn-primary btn-sm"
                                        [disabled]="addDiscountSubject.invalid"
                                        (click)="addGradeSubBoard(addDiscountSubject, 'Subject Discount')">Add</button>
                                </div>
                            </div>
                        </form>
                        <div class="col-12 mt-3">
                            <p-table [value]="allSubjectDiscount" [columns]="allColumns[3].cols" [scrollable]="true"
                                scrollHeight="200px" [(selection)]="selectedDataForDel" dataKey="_id">
                                <ng-template pTemplate="caption">
                                    ALL FIXED DISCOUNT(SUBJECT) LIST
                                </ng-template>
                                <ng-template pTemplate="header" let-columns>
                                    <tr>
                                        <th style="width: 2rem">
                                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                                        </th>
                                        <th *ngFor="let col of columns" [style.width.px]="col.width">{{col.header}}</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-subjectDiscount let-columns="columns"
                                    let-index="rowIndex">
                                    <tr>
                                        <td style="width: 2rem">
                                            <p-tableCheckbox [value]="subjectDiscount"></p-tableCheckbox>
                                        </td>
                                        <td *ngFor="let col of columns" [style.width.px]="col.width">
                                            {{ col.pipeChk == 'date'? (subjectDiscount[col.field] | date: 'short') : subjectDiscount[col.field] }}
                                        </td>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="summary">
                                    <button class="btn btn-primary" (click)="commonDelete('Subject Discount')">Delete</button>
                                </ng-template>
                            </p-table>
                        </div>
                    </div> -->

                    <div class="col-12 px-0" *ngIf="viewOptionsFormat[3].value == 'holidayRoster'">
                        <h2 class="admin-chapter-header px-2">Add/Delete Holiday</h2>
                        <app-full-calender [calendarOptions]="holidayCalendarOptions" [eventClick]="holidayEventClick"
                         [eventList]="holidayList" (clickedItem)="displayDate($event)">
                        </app-full-calender>
                    </div>

                </div>
            </div>
            
        </div>
    </div>
</div>

<p-dialog header="HOLIDAY LIST" (onHide)="clearDialogInput()" [(visible)]="holidayCalDisplay" [style]="{width: '40vw'}" [baseZIndex]="10000" [modal]="true">
    <div class="row">
        <div class="col-12">
            <h5><strong>{{selectedDate?.date| date:'fullDate'}}</strong></h5>
        </div>
        <mat-form-field class="col-12">
            <mat-label>Holiday Event</mat-label>
            <input matInput name="holidayInput" [(ngModel)]="holidayInput">
        </mat-form-field>
        <div class="col-12">
            <button class="mr-1 col-5 col-md-4 btn btn-success" (click)="addHoliday(selectedDate)"
                [disabled]="!holidayInput">
                Add Event
            </button> 
            <button class="ml-1 col-5 col-md-4 btn btn-danger" (click)="deleteHoliday(selectedDate)">
                Delete Event
            </button> 
        </div>
    </div>
</p-dialog>