<div class="container admin-explore-container">
    <p-confirmDialog key="deleteConfirm" header="Delete Confirmation" icon="pi pi-exclamation-triangle">
    </p-confirmDialog>
    <p-toast position="center" key="deleteToast"></p-toast>
    <div class="row px-0 mx-0">
        <div class="col-md-3 order-md-1 context-menu">
            <div class="context-menu position-fixed">
                <p># CONTENTS</p>
                <ul #context>
                    <li (click)="scrollTo('structural-view')">Structural Details</li>
                    <li (click)="scrollTo('fees-view')">Fees Details</li>
                    <li (click)="scrollTo('fixed-discount-view')">Fixed Discount Details</li>
                    <li (click)="scrollTo('roster-holiday-view')">Roster Holiday View</li>
                </ul>
            </div>

        </div>
        <div class="col-md-9 order-md-0 col-md-9 main-menu-container border-right">

            <app-grade-board-sub-batch [allBoards]="allBoards" [allGrades]="allGrades" 
            [allSubjects]="allSubjects" [allBatchType]="allBatchType"></app-grade-board-sub-batch>

            <hr>

            <app-test-tution-fees [allBoards]="allBoards" [allGrades]="allGrades" [allTestFees]="allTestFees"
            [allSubjects]="allSubjects" [allBatchType]="allBatchType" [allTutionFees]="allTutionFees"></app-test-tution-fees>

            <hr>

            <app-sub-mon-discount [allSubjectDiscount]="allSubjectDiscount"
            [allMonthDiscount]="allMonthDiscount"></app-sub-mon-discount>

            <hr>

            <app-roster-holiday [allBoards]="allBoards" [allGrades]="allGrades" 
            [allSubjects]="allSubjects" [allBatchType]="allBatchType"></app-roster-holiday>
            
        </div>
    </div>
</div>

