<div class="container-fluid">
    <div class="row">
        <div class="card col-lg-4 col-md-5 my-3" *ngFor="let subject of subTutionFees; let i =index">
            <div class="card-header py-1">
                <span>{{subject.subject}}</span>
                <span style="float: right;" *ngIf="subject.feesSelected?.tutionFees">
                    {{subject.feesSelected.tutionFees}}/-
                    <span style="font-size: 10px;font-style: italic;">per month</span>
                </span>
            </div>
            <div class="card-body">
                <div class="my-4 mx-2">
                    <div class="batch-type-text">
                        <strong>Choose Batch Type:</strong>
                    </div>
                    <div class="row justify-content-around">
                        <div *ngFor="let fees of subject.batch">
                            <p-radioButton [value]="fees" label={{fees.batchType}} [(ngModel)]="subject.feesSelected"
                                (onClick)="feesChange($event,subject)">
                            </p-radioButton>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div style="float: right;">Add this item to cart
                    <p-checkbox [(ngModel)]="subjectTypeSelected" [value]="subject" (onChange)="addToCart()">
                    </p-checkbox>
                </div>
            </div>
        </div>
    </div>
</div>