.view-all-user-container {
    position: relative;
    top:150px;
    margin-bottom: 30px;
}

.all-user-row {
    line-height: 5px;
    padding: 20px 0px;
}

.all-user-row a {
    font-size: 12px;
    color: #007bff;
    cursor: pointer;
    text-decoration: underline;
}

.all-user-row a:hover{
    color: #043a74;
    text-decoration: underline;
}

.badge {
   font-size: 14px;
   line-height: 1.4;
}

.btn-badge {
    cursor: pointer;
}

