<p-confirmDialog key="deleteConfirm" header="Delete Confirmation" icon="pi pi-exclamation-triangle">
</p-confirmDialog>
<div class="container order-hist-container">
    <div class="row px-0 mx-0 justify-content-center">
        <div class="col-3 my-4">
            <mat-form-field class="example-full-width" style="width: 100%;">
                <input matInput [matDatepicker]="sDatePicker" [(ngModel)]="startDate" placeholder="Start date">
                <mat-datepicker-toggle matSuffix [for]="sDatePicker"></mat-datepicker-toggle>
                <mat-datepicker #sDatePicker></mat-datepicker>
              </mat-form-field>
        </div>
        <div class="col-3 my-4">
            <mat-form-field class="example-full-width" style="width: 100%;">
                <input matInput [matDatepicker]="eDatePicker" [(ngModel)]="endDate" placeholder="End date">
                <mat-datepicker-toggle matSuffix [for]="eDatePicker"></mat-datepicker-toggle>
                <mat-datepicker #eDatePicker></mat-datepicker>
              </mat-form-field>
        </div>
        <div class="col-2 my-4">
            <button class="btn btn-success" (click)="getAllPaymentDetails()"
            [disabled]="!startDate || !endDate">Search</button>
        </div>

        <div class="col-12" *ngIf="allPaymentDetails && !viewDelete" >
            <p-table #txnTable  [value]="allPaymentDetails" [columns]="allPaymentSchema" [paginator]="true" [rows]="15" 
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [showCurrentPageReport]="true" [(selection)]="selectedStudentForBatch"
            dataKey="orderId" [resizableColumns]="true" styleClass="p-datatable-gridlines">
            <ng-template pTemplate="caption">
                <div class="row">
                    <div class="col-6" style="text-align: left; font-size: 14px; color: #0000EE; text-decoration: underline;">
                        <a (click)="viewDelete=!viewDelete" [innerHtml]="viewDelete?'View Real Entries':'View Deleted Entries'"></a>
                    </div>
                    <div class="col-6" style="text-align: right; font-size: 14px;">
                        Export 
                        <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel()" class="p-button-success p-mr-2"  pTooltip="XLS" tooltipPosition="bottom"></button>
                    </div>
                </div>
                
            </ng-template>
            <!-- <ng-template pTemplate="colgroup" let-columns >
                <colgroup>
                    <col style="width: 4rem">
                    <col *ngFor="let col of columns" [style.width.px]="col.width">
                </colgroup>
            </ng-template> -->
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th style="width: 5rem"></th>
                    <th *ngFor="let col of columns" pResizableColumn>{{col.header}}</th>
                </tr>
                <tr>
                    <th></th>
                    <th *ngFor="let col of columns">
                        <p-multiSelect [options]="allTableFilters[col.field]" defaultLabel="All" 
                        (onChange)="onFilterChange($event,col.field)" 
                        styleClass="p-column-filter" optionLabel="name" 
                        [style]="{'width':'100%','z-index':'6','font-size': '11px'}" 
                        maxSelectedLabels='0'>
                          <ng-template let-option pTemplate="item">
                              <div class="p-multiselect-representative-option">
                                  <span class="p-ml-1">{{option.label}}</span>
                              </div>
                          </ng-template>
                      </p-multiSelect>
                      </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-eachPayment let-columns="columns" let-index="rowIndex" let-expanded="expanded">
                <tr>
                    <td>
                        <button pButton type="button" icon="pi pi-times" (click)="deleteTrans(eachPayment)"></button>
                        <button [disabled]="eachPayment.paymentIndicator=='D'" type="button" pButton pRipple [pRowToggler]="eachPayment" 
                        class="p-button-text p-button-rounded p-button-plain" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
                    </td>
                    <td *ngFor="let col of columns" [style.width.px]="col.width">
                        {{ col.pipeChk == 'date'? (eachPayment[col.field] | date: 'short') : eachPayment[col.field] }}
                    </td>
                </tr>
            </ng-template>
            <ng-template  pTemplate="rowexpansion" let-eachPayment>
                <tr *ngIf="eachPayment.paymentReason=='Course purchase'">
                    <td colspan="9">
                        <div class="p-p-3">
                            <p-table [value]="eachPayment.subjectList">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th>Grade</th>
                                        <th>Subject</th>
                                        <th>Batch Type</th>
                                        <th>Duration</th>
                                        <th>Fees</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-eachSubject>
                                    <tr>
                                        <td>{{eachSubject.grade}}</td>
                                        <td>{{eachSubject.subject}}</td>
                                        <td>{{eachSubject.batchType}}</td>
                                        <td>{{eachPayment.totalDays}}</td>
                                        <td>{{eachSubject.tutionFees}}</td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </td>
                </tr>
                <tr *ngIf="eachPayment.paymentReason=='Test purchase'">
                    <td colspan="9">
                        <div class="p-p-3">
                            <p-table [value]="eachPayment.testList">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th>Test Id</th>
                                        <th>Grade</th>
                                        <th>Subject</th>
                                        <th>Test Date Time</th>
                                        <th>Scheduled By</th>
                                        <th>Duration</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-eachTest>
                                    <tr>
                                        <td>{{eachTest.testId}}</td>
                                        <td>{{eachTest.grade}}</td>
                                        <td>{{eachTest.subject}}</td>
                                        <td>{{eachTest.testDateTime | date: 'short'}}</td>
                                        <td>{{eachTest.userName}}</td>
                                        <td>{{eachTest.duration}}</td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="summary">
                <div class="all-payment-table-summary">
                    <p>Total Credit: <strong>{{summary.allCredits}}</strong></p>
                    <p>Total Debit: <strong>{{summary.allDebits}}</strong></p>
                    <p>Total Refund: <strong>{{summary.allRefund}}</strong></p>
                    <hr>
                    <p style="font-size: 18px;">Total Profit/Loss: <strong [ngStyle]="summary.total>0?{'color':'green'}:{'color':'red'}">{{summary.total}}</strong></p>
                </div>
            </ng-template>
        </p-table>
        </div>

        <div class="col-12" *ngIf="allDeletedPaymentDetails && viewDelete" >
            <p-table #txnTable  [value]="allDeletedPaymentDetails" [columns]="allDeletedPaymentSchema" [paginator]="true" [rows]="15" 
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [showCurrentPageReport]="true" [(selection)]="selectedStudentForBatch" styleClass="p-datatable-customers"
            dataKey="orderId" [resizableColumns]="true" styleClass="p-datatable-gridlines">
            <ng-template pTemplate="caption">
                <div class="row">
                    <div class="col-6" style="text-align: left; font-size: 14px; color: #0000EE; text-decoration: underline;">
                        <a (click)="viewDelete=!viewDelete" [innerHtml]="viewDelete?'View Real Entries':'View Deleted Entries'"></a>
                    </div>
                </div>
                
            </ng-template>
            <!-- <ng-template pTemplate="colgroup" let-columns >
                <colgroup>
                    <col style="width: 4rem">
                    <col *ngFor="let col of columns" [style.width.px]="col.width">
                </colgroup>
            </ng-template> -->
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th style="width: 3rem"></th>
                    <th *ngFor="let col of columns" pResizableColumn>{{col.header}}</th>
                </tr>
                <tr>
                    <th></th>
                    <th *ngFor="let col of columns">
                        <p-multiSelect [options]="allTableFilters[col.field]" defaultLabel="All" 
                        (onChange)="onFilterChange($event,col.field)" 
                        styleClass="p-column-filter" optionLabel="name" 
                        [style]="{'width':'100%','z-index':'6','font-size': '11px'}" 
                        maxSelectedLabels='0'>
                          <ng-template let-option pTemplate="item">
                              <div class="p-multiselect-representative-option">
                                  <span class="p-ml-1">{{option.label}}</span>
                              </div>
                          </ng-template>
                      </p-multiSelect>
                      </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-eachPayment let-columns="columns" let-index="rowIndex" let-expanded="expanded">
                <tr>
                    <td>
                        <button [disabled]="eachPayment.paymentReason=='Faculty Fees'" type="button" pButton pRipple [pRowToggler]="eachPayment" 
                        class="p-button-text p-button-rounded p-button-plain" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
                    </td>
                    <td *ngFor="let col of columns" [style.width.px]="col.width">
                        {{ col.pipeChk == 'date'? (eachPayment[col.field] | date: 'short') : eachPayment[col.field] }}
                    </td>
                </tr>
            </ng-template>
            <ng-template  pTemplate="rowexpansion" let-eachPayment>
                <tr *ngIf="eachPayment.paymentReason=='Course purchase'">
                    <td colspan="9">
                        <div class="p-p-3">
                            <p-table [value]="eachPayment.subjectList">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th>Grade</th>
                                        <th>Subject</th>
                                        <th>Batch Type</th>
                                        <th>Duration</th>
                                        <th>Fees</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-eachSubject>
                                    <tr>
                                        <td>{{eachSubject.grade}}</td>
                                        <td>{{eachSubject.subject}}</td>
                                        <td>{{eachSubject.batchType}}</td>
                                        <td>{{eachPayment.totalDays}}</td>
                                        <td>{{eachSubject.tutionFees}}</td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </td>
                </tr>
                <tr *ngIf="eachPayment.paymentReason=='Test purchase'">
                    <td colspan="9">
                        <div class="p-p-3">
                            <p-table [value]="eachPayment.testList">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th>Test Id</th>
                                        <th>Grade</th>
                                        <th>Subject</th>
                                        <th>Test Date Time</th>
                                        <th>Scheduled By</th>
                                        <th>Duration</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-eachTest>
                                    <tr>
                                        <td>{{eachTest.testId}}</td>
                                        <td>{{eachTest.grade}}</td>
                                        <td>{{eachTest.subject}}</td>
                                        <td>{{eachTest.testDateTime | date: 'short'}}</td>
                                        <td>{{eachTest.userName}}</td>
                                        <td>{{eachTest.duration}}</td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>
        </div>
    </div> 
</div>

