.payment-wall {
    padding: 40px;
    font-family: dolis;
    text-align: center;
    margin: 150px auto 50px auto;
    height: 200px;
    font-size: 17px;
    font-weight: 600;

}

.btn-close button{
    float: right;
    background: #94CAC5;
    border: 0px;
}