<div @zoomInOut class="container col-md-5 shadow rounded px-0" style="background-color: #94CAC5;">
    <div class="btn-close rounded">
        <button class="rounded" (click)="paymentPopUpClose()"><i class="fa fa-close"></i></button>
    </div>
    <div class="payment-wall">
    
    <p>
        Now you can pay us using credit card, debit card, netbanking, UPI instantly through our online portal.
        <br>do you want to proceed?
    </p>
    <button class="btn btn-success mt-2" (click)="pay()">Proceed</button>
</div>
</div>